.board {
    overflow: auto;
    width: 155px;
    height: 155px;
    line-height: 215px;
    text-align: center;
    font-size: 138pt;
}
.board.highlight {
    color: red;
}
.board.active {
    background: #eee;
}
.board.active.active-O div:hover:after {
    content: "O";
    color: #999;
}
.board.active.active-X div:hover:after {
    content: "X";
    color: #999;
}
.board.active div.selected:hover:after {
    content: none;
}
.board div {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24pt;
}
.board.active div:hover {
    cursor: pointer;
    background: #eee;
}
.board div:nth-child(3n){
    border-left: 1px solid #555;
}
.board div:nth-child(3n+2){
    border-left: 1px solid #555;
}

.board div:nth-child(1){
    border-bottom: 1px solid #555;
}
.board div:nth-child(2){
    border-bottom: 1px solid #555;
}
.board div:nth-child(3){
    border-bottom: 1px solid #555;
}
.board div:nth-child(4){
    border-bottom: 1px solid #555;
}
.board div:nth-child(5){
    border-bottom: 1px solid #555;
}
.board div:nth-child(6){
    border-bottom: 1px solid #555;
}

