<div class="main-content-view">
    <div class="top-buttons">
        <button><input type="checkbox" /></button>
        <button>Refresh</button>
    </div>
    <div class="main-content-body">
        <table>
            <tbody>
                <% _.each(data, function(email){ %>
                <tr class="email" data-id="<%= email.id %>">
                    <td class="checkbox"><input type="checkbox" /></td>
                    <td class="authors"><%= email.author.name %></td>
                    <td class="subject"><%= email.subject %><span class="preview"> - <%= email.preview %></span></td>
                    <td class="date"><%= email.date %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
