.top-menu-view {
    position: relative;
    background: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
    padding: 5px;
    height: 49px;
}
img.logo {
    position: absolute;
    left: 30px;
    top: 7px;
}
.search {
    position: absolute;
    left: 205px;
    top: 15px;
}
.search input{
    float: left;
    border: 1px solid #cdcdcd;
    background: #fff;
    height: 18px;
    width: 400px;
    padding: 5px;
    font-size: 12pt;
}
.search input:hover {
    border-color: #A9A9A9;
}
.search input:active, .search input:focus {
    border-color: #4285F3;
}
.search button {
    float: left;
    border: none;
    color: #fff;
    font-size: 12px;
    height: 30px;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
}
